:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-trans: rgba(10, 25, 47,0.6);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-trans: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

body {
    background-color: var(--navy);
    color: var(--slate);
    font-family: var(--font-sans);
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 4%;
    /* border: 1px solid red; */
}

header {
   font-family: var(--font-mono); 
   background-color: var(--navy-trans);
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 8%; 
   padding: 0 3%;
}

header a {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin: 0 12px;
}

nav ul li a {
    color: var(--slate);
    padding-bottom: 5px;
}

nav ul li a:hover {
    color: var(--green);
    border-bottom: 3px solid var(--green);
}

nav ul li a:focus {
    color: var(--green);
}

.button {
    font-family: var(--font-mono); 
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 4px;
    text-decoration: none;
    padding: 10px 14px;
}

.button:hover {
    font-family: var(--font-mono);
    color: var(--green);
    background-color: var(--green-trans);
    border: 1px solid var(--green);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

section {
    min-height: 100vh;
    scroll-margin-top: 20vh;
}

section p {
    line-height: 1.7;
}

#main-logo {
    font-size: 25px;
    color:  var(--green);
    border: 2px solid var(--green);
    padding: 3px 11px;
    border-radius: 8px;
}

#main-logo:hover {
    background-color: var(--green-trans);
}

#welcome {
    display: flex;
    align-items: center;
}

#welcome h2 {
    padding: 15px 0;
    font-size: 65px;
    color: var(--lightest-slate);
}

#welcome h3 {
    padding-bottom: 35px;
    font-size: 55px;
    color: var(--light-slate);
}

#welcome p {
    max-width: 540px;
}

p.welcome-msg {
    color: var(--green);
    font-family: var(--font-mono);
    font-size: 1.2rem;  
}

.section-heading {
    font-size: 28px;
    color: var(--lightest-slate);
    padding-bottom: 25px;
}

.two-col-box {
    display: flex;
    justify-content: space-between;
}

.two-col-box p {
    padding-bottom: 15px;
}

.two-col-box-left {
    max-width: 80%;
    padding-right: 15px;
}

.two-col-box-right {
    padding-left: 5px;
}

